input {
    border-radius: 5em;
    width: 100%;
}

.input_row {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    font-size: small;
}

#controls {
    display: flex;
    justify-content: center;
}

#controls button {
    width: 80vw;
}
