body {
  background-color: rgb(75, 75, 75);
}

/* button stylings */
button {
  color: black;
  border: 0px;
  cursor: pointer;
  border-radius: 1em;
  font-size: large;
  width: 25vw;
  height: 5vh;
  font-family: "Courier New", monospace;
}
@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
  }
  button {
    color: black;
    border: 0px;
    cursor: pointer;
    border-radius: 0.5em;
    font-size: large;
    width: fit-content;
    height: 2em;
    font-family: "Courier New", monospace;
  }
}

/* header */
h1 {
  font-family: "Courier New", monospace;
  color: white;
}
